@font-face {
    font-family: "Santio";
    src: url(../fonts/Santio\ regular.ttf);
}
@font-face {
    font-family: "MrDafoe";
    src: url(../fonts/MrDafoe-Regular.ttf);
} 
@font-face {
    font-family: "Inter";
    src: url(../fonts/Inter-VariableFont_slnt\,wght.ttf);
}
@font-face {
    font-family: "Roboto";
    src: url(../fonts/Roboto-Regular.ttf);
}
 
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 html{
    font-size: 62.5%;
 }

 :root{
    --primary-color: #FFFFFF;
    --secondary-color: #333333;
    --third-color: #6BC1A3;
    --fourth-color: #E7BC0E;
    --fifth-color: #CB91B6;
    --sixth-color: #7EB8E1;
 }

 body{
    background-image: url(../img/cleo-topper.jpg);
    min-height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
 }

/* ****** GENERAL STYLE ****** */

.svg{
    width: 10rem;
}

h1{
    font-family: "Santio";
    font-size: 4rem;
    line-height: 5rem;
    color: var(--sixth-color);
    width: 50rem;
}

h2{
    font-family: "Santio";
    font-size: 5.2rem;
    font-weight: bold;
}

p{
    font-family: "Santio";
    font-size: 3.5rem;
}

span{
    color: var(--primary-color);
    background-color: var(--secondary-color);
}

a{
    text-decoration: none;
}

/* ****** HEADER ****** */

header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 2rem;
    padding: 2rem 5rem;
}
header .svg{
    height: 2rem;
}

header a{
    font-family: "Roboto";
    color: var(--primary-color);
    padding-bottom: 0.5rem;
    border-bottom: 2px solid var(--fourth-color);
}

/* ****** CONTENT ****** */

.content{
    display: flex;
    flex-direction: column;
    row-gap: 30rem;
}

.part1{
    display: flex;
    flex-direction: column;
    width: 20rem;
    margin-left: 10rem;
}

.part1 p:nth-of-type(1){
    font-family: "Inter";
    font-weight: bold;
    font-size: 5rem;
    color: var(--primary-color);
    word-wrap: break-word;
}

.part1 p:nth-of-type(2){
    font-family: "MrDafoe";
    color: var(--fourth-color);
    font-size: 2rem;
    margin-top: 3rem;
    text-align: center;
}
.part1 p:nth-of-type(3){
    display: flex;
    justify-content: flex-end;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 3rem;
    color: var(--fourth-color);
}

.part2{
    color: var(--third-color);
    width: 60rem;
    line-height: 5rem;
    padding-left: 20rem;
}

.part3, .part4{
    display: flex;
    flex-direction: column;
    margin: 0 auto;            /* <----Warum das nur mit margin und nicht mit justify-content in die Mitte zu bekommen war, weiß ich leider nicht */
    width: 50rem;
}

.part3 p{
    font-size: 14rem;
    color: var(--fourth-color);
    width: 45rem;
    margin: 2rem 0;
}

.part3 h2{
    color: var(--fourth-color);
    word-wrap: break-word;
}

.part4 h2{
    color: var(--fifth-color);
    margin: 2rem 0;
}

.part4 p{
    color: var(--fifth-color);
    font-size: 9.5rem;
}



.part5{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 60rem;
}

.part5 p{
    color: var(--third-color);
    font-size: 9.5rem;
    margin-top: 3rem;
}

.part5 h2{
    color: var(--third-color);
    margin: 2rem 0;
}

.h1{
    display: flex;
    justify-content: center;
    padding: 5rem 2rem;
    margin-bottom: 10rem;
}

/* ****** IMG SECTION ****** */

.img_bg{
    background-image: url(../img/see.png);
    background-size: cover;
    height: 98rem;
    background-color: var(--primary-color);
}

.img_bg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ****** END-SECTION & BUTTON ****** */

.end{
    display: flex;
    row-gap: 10rem;
    flex-direction: column;
    background-color: black;
    color:var(--primary-color);
    padding: 10rem;
}

.end p{
    display: flex;
    font-family: "Inter";
    font-size: 5rem;
    font-weight: bold;
    width: 35rem;

}

.button{
   
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    font-family: "Roboto";
    font-size: 2.5rem;
    padding: 1.75rem 2.5rem;
    width: 13rem;
    height: 6rem;
}

.button:hover{
    box-shadow: 10px 10px 0 var(--primary-color) ;
}

/* ****** FOOTER ****** */

footer{
    background-color: black;
    height: 2.2rem;
    text-align: center;
}

footer p{
    font-family: "Roboto";
    font-size: 1.3rem;
    color: var(--primary-color);
}

footer a{
    font-family: "Inter";
    font-size: 1.3rem;
    color: var(--third-color);
}