@font-face {
    font-family: "Santio";
    src: url(../fonts/Santio\ regular.ttf);
}
@font-face {
    font-family: "MrDafoe";
    src: url(../fonts/MrDafoe-Regular.ttf);
} 
@font-face {
    font-family: "Inter";
    src: url(../fonts/Inter-VariableFont_slnt\,wght.ttf);
}
@font-face {
    font-family: "Roboto";
    src: url(../fonts/Roboto-Regular.ttf);
}
 
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 html{
    font-size: 62.5%;
 }

 :root{
    --primary-color: #FFFFFF;
    --secondary-color: #333333;
    --third-color: #6BC1A3;
    --fourth-color: #E7BC0E;
    --fifth-color: #CB91B6;
    --sixth-color: #7EB8E1;
 }

 body{
    overflow-x: hidden;
 }

/* ****** GENERAL STYLE ****** */

.svg{
    width: 5rem;
}

h1{
    font-family: "Santio";
    font-size: 4rem;
    line-height: 5rem;
    color: var(--third-color);
    width: 50rem;
}

h2{
    font-family: "Santio";
    /* font-size: 5rem; */
}

p{
    font-family: "Santio";
    font-size: 3.5rem;
}

span{
    color: var(--primary-color);
    background-color: var(--secondary-color);
}

/* **** HEADER IM CONTENT **** */

.header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 2rem;
    padding: 2rem 5rem;
}
.header .svg{
    height: 2rem;
}

.header a{
    font-family: "Roboto";
    color: var(--primary-color);
    text-decoration: none;
    padding-bottom: 0.5rem;
    border-bottom: 2px solid var(--fourth-color);
}

/* ****** */

.parallax{
    background-image: url(../img/cleo-topper.jpg);
    min-height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* overflow-x: scroll; */
}

.content{
    display: flex;
    flex-direction: column;
    row-gap: 20rem;
}

.part1{
    display: flex;
    flex-direction: column;
    width: 20rem;
    margin-left: 10rem;
}

.part1 p:nth-of-type(1){
    font-family: "Inter";
    font-weight: bold;
    font-size: 5rem;
    color: var(--primary-color);
    word-wrap: break-word;
}

.part1 p:nth-of-type(2){
    font-family: "MrDafoe";
    color: var(--fourth-color);
    font-size: 2rem;
}
.part1 p:nth-of-type(3){
    display: flex;
    justify-content: flex-end;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 3rem;
    color: var(--fourth-color);
}

.h1{
    display: flex;
    justify-content: center;
    padding: 5rem 2rem;
    margin-bottom: 10rem;
}





.img_bg{
    background-image: url(../img/see.png);
}